/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: #0f0f0f;
}

.header {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5;
  color: #0f0f0f;
  align-items: center;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.pageTitle {
  font-size: 4rem;
  flex: auto;
  text-align: center;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: center;
  height: auto;
  width: 80%;
  margin: 40px auto;
}

.roll-box {
  background-color: #fca311;
  text-align: center;
  width: auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
  height: auto;
  border-radius: 15px;
  /*margin-top: 7em;
  margin-bottom: 15em;*/
}

.rollem {
  font-size: 4rem;
  font-weight: 600;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}

.button {
  background-color: #14213d;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px #0f0f0f20;
  font-size: 2rem;
  font-weight: 500;
  width: 7rem;
  height: 7rem;
}

button:hover {
  background-color: rgb(42, 75, 165);
}

button:active {
  transform: scale(0.95);
  box-shadow: 4px 4px #0f0f0f20;
}

.roll-container {
  background-color: #e5e5e5;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rolled {
  font-size: 2rem;
}
